DATABASE_URL=postgresql://devpulse:devpulse@localhost:5433/devpulse
JWT_ACCESS_SECRET=46a2c51ef82a869884614730e0db0c49
JWT_REFRESH_SECRET=d5aeadb035c59f63b14d073b60481534
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d
PORT=3000
NODE_ENV=development
ALLOWED_ORIGIN=*
